body {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.App {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

/** GRAPH SCSS */
#graph-cover {
    position: relative;

    h1 {
        margin: 2vw 1vw 2vw 2vw;
    }

    #graph {
        border: 2px black;
        box-sizing: content-box;
        width: 100vw;
        height: 60vh;
        cursor: pointer;
    }
    
    #graph-indicator {
        background-color: rgba(0, 0, 0, 0.15);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 100;
        transition: 0.5s;

        &:hover {
            background-color: rgba(0, 0, 0, 0);
        }
    }

    .graph-tl {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        width: 50vw;
        flex-direction: column;
        z-index: 1;
    }

    .graph-buttons {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 2vw;
        z-index: 2;

        .btn, .download-graph {
            margin-bottom: 2vh;
        }
    }

    #undo-alert {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
        display: flex;
        margin: 0 0 2vw 2vw;
        padding: 0.5rem 1rem 0.5rem 1rem;

        p {
            padding: 0.25rem 0.4rem;
            margin: 0;
        }

        button {
            padding: 0.25rem 0.4rem;
            border: 0;
        }
    }
}

.graph-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 60vh;
    width: 100vw;
}

.graph-viz {
    opacity: 0;
    z-index: -1;
}

/** FORM SCSS */
#form {
    position: relative;
    display: flex;
    flex-direction: column;
    border-top: 4px solid black;
    border-left: 0;
    padding: 2vw;
    width: 100vw;
    height: 100vh;
    cursor: default;

    .form-step {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1vw max(1vw, 10px);
        overflow-y: scroll;
    
        .title {
            margin-bottom: 2vh;
        }
    }

    .form-error-prompt {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%; 
        background-color: rgba(0, 0, 0, 0.15);
        z-index: 2;

        .card {
            .card-body {
                display: flex;
                flex-direction: column;
                align-items: center;

                .form-error-prompt-buttons {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 3vh;
                    width: 100%;
                }
            }
        }
    }

    .form-error-prompt-hidden {
        opacity: 0;
        z-index: -1;
    }

    .github-button {
        position: absolute;
        top: 0;
        right: 0;
        margin: 1.5vw;
        height: auto;
        display: none;
        z-index: 1;

        img {
            width: max(5vw, 40px);
        }

        button:hover {
            background-color: rgb(220, 220, 220) !important;
            border-color: black !important;
        }

        button:active {
            background-color: inherit !important;
        }
    }
}

#welcome-container {
    position: relative;

    ul {
        li {
            text-align: left;
        }
    }

    footer {
        bottom: 0;
    }
}

.link-collapse-container, .str-collapse-container {
    overflow: hidden;

    .link-collapse, .str-collapse {
        transition: all 1s;
    }
}

#add-nodes-container {
    overflow-y: scroll;

    .shapes-dropdown {
        .dropdown-menu {
            min-width: 0 !important;

            .dropdown-item {
                cursor: pointer;
            }
        }

        .shape-dropdown-toggle {
            border-radius: 0;
            border: 1px solid #ced4da;
        }
    }
}

#add-nodes-container, #add-edges-container {
    .node-color-edit {
        flex: none;
        width: 2.5rem;
        background-color: #F8F9FA;
        
        &:hover {
            background-color: #d3d4d5;
        }
    }

    .node-default-color-edit {
        height: 100%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 0;
        border-color: #212529;

        &:focus {
            border-color: inherit;
            box-shadow: none;
        }
    }

    .infected-checkbox {
        background-color: #F8F9FA;
        transition: 0.25s;

        &:hover {
            background-color: #d3d4d5;
        }

        .form-check-input {
            &:hover {
                cursor: pointer;
            }
        }
    }
}

#add-edges-container {
    .main-node-select {
        margin-bottom: 2vh;
    }
}

#button-container {
    width: 100%;
    display: flex;
}

#error-popup {
    position: absolute;
    top: 2vw;
    right: 50%;
    transition: .3s;
}

.error-popup-hidden {
    opacity: 0;
    transform: translate(50%, -200%);
}

.error-popup-show {
    opacity: 1;
    transform: translate(50%, 0);
}

.form-range::-webkit-slider-thumb {
    background: black !important;

    &:focus {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
}

.form-range::-moz-range-thumb {
    background: black !important;

    &:focus {
        -moz-box-shadow: none !important;
    }
}

.form-range::-ms-thumb {
    background: black !important;

    &:focus {
        box-shadow: none !important;
    }
}

/** Responsiveness */
@media (min-width: 768px) {
    body {
        height: 100vh;
        overflow: hidden;
        flex-wrap: nowrap;
    }
    
    #graph {
        width: 60vw;
        height: 100vh;
    }

    #graph-cover {

        .graph-buttons {
            top: 0;
            right: 0;
            flex-direction: row;

            .btn {
                margin-right: 1rem;
            }

            .dropdown-menu {
                min-width: 0;
            }
        }

        .graph-tl {
            width: fit-content;
            flex-direction: row;
        }
    }

    .graph-overlay {
        height: 100vh;
        width: 60vw;
    }

    #form {
        justify-content: space-between;
        border-left: 4px solid black;
        border-top: 0;
        width: 40vw;

        #welcome-container {
            footer {
                position: absolute;
            }
        }
    }

    .form-step {
        height: 75vh;
    }

    .github-button {
        display: block !important;
    }
}

/** Misc */
#showModalBtn {
    padding: 0;
    border: 0;
    height: 0;
    width: 0;
}

.noselect {
-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.sortable-chosen, sortable-chosen.sortable-ghost {
    opacity: 1;
}